body {
    background-color: #e9ecef; /* Updated to match login panel */
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forgot-password-card {
    background: #ffffff; /* Updated to match login panel */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.forgot-password-card h2 {
    margin-bottom: 1rem;
}

.forgot-password-card p {
    margin-bottom: 1.5rem;
    color: #495057; /* Updated to match login panel */
}

.forgot-password-card label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-container input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da; /* Updated to match login panel */
    border-radius: 4px;
}

button {
    background-color: #4A4AFF; /* Updated to match login panel */
    color: #ffffff; /* Updated to match login panel */
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #0056b3; /* Updated to match login panel */
}

.links {
    margin-top: 1rem;
}

.links p {
    margin: 0.5rem 0;
}

.links a {
    color: #007bff;
    text-decoration: none;
}


.support-link {
    margin-top: 2rem;
    color: #495057; /* Updated to match login panel */
}

.support-link a {
    color: #007bff;
    text-decoration: none;
}

.no-background {
    background: none;
}

.lock-icon {
    font-size: 2rem;
    color: #495057; /* Updated to match login panel */
    margin-bottom: -10px;
}
